body {
 background-image: url("https://bl3302files.storage.live.com/y4mFPg-GCnN-aKf5DW8coJRwlpgDOezSADMv_yHNSqroQL4Dfh8__LiAyqgmKcqGbm0a6n7lP6ZtYz6cVcPfJuX1HCURPeqBnw3n3QKZqn8VEXX8_BRfsLe9xpf_WCiylcOWraWJq3ULCWGEfuzNcHCsu92sGBE8dBKBo_hWLHrIaFnYwnb3iIfcp8zNCgrK9SE0OO6uzQGG7Mk5-s3WwMaKfpJCSVxBbSWfCja-gSOR9I?encodeFailures=1&width=595&height=794");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 background-size: cover;
}

